




.titre{
    font-size: 50px;
    text-align: center;
    font-family: 'Caveat', cursive;
    color: rgb(255 117 162);
}

.cointext{
    font-size: 50px;
    text-align: center;
    font-family: 'Caveat', cursive;
    color: rgb(255 117 162);
}

.descri{
    font-size: 30px;
    text-align: center;
    font-family: 'Caveat', cursive;
}

.piecetitre{
    margin-left: 20px;
    height: 35px;
    width: 35px;
}

.piece{
    margin-bottom: -2px;
    height: 15px;
    width: 15px;
}

.itemslist{
    margin: 3%;
    display: flex;
    justify-content: space-between;
}

.item{
    float: left;
    background-image: url();
    background-size: cover;
    background-repeat: no-repeat;
    height: 400px;
    width: 360px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: gray;
}

.text{
    height: 260px;
    width: 220px;
    text-align: center;
    background-color: rgba(0, 0, 255, 0.212);
}