


.descri{
    font-size: 30px;
    text-align: center;
    font-family: 'Caveat', cursive;
}

.itemslist{
    margin: 3%;
    display: flex;
    justify-content: space-between;
}

.item{
    float: left;
    background-image: url();
    background-size: cover;
    background-repeat: no-repeat;
    height: 400px;
    width: 360px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: gray;
}

.text{
    height: 260px;
    width: 220px;
    text-align: center;
    background-color: rgba(0, 0, 255, 0.212);
}