#content {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#lettersDiv {
    display: flex;
    margin-top: 5px;
}

#letter {
    font-size: x-large;
    margin-right: 10px;
    margin-left: 10px;
}

#keyboard {
    margin: 25px 0px 0px 0px;
    width: 516px;
    height: 100px;
}

#kbLetter {
    margin: 5px 5px 1px 1px;
    width: 30px;
    height: 30px;
    background: pink;
    border-radius: 5px;
    border: none;
}

#kbDisLetter {
    margin: 5px 5px 1px 1px;
    width: 30px;
    height: 30px;
    background: #51483b;
    border-radius: 5px;
    border: none;
}

#kbWrongLetter {
    margin: 5px 5px 1px 1px;
    width: 30px;
    height: 30px;
    background: red;
    border-radius: 5px;
    border: none;
}

#kbDisRightLetter {
    margin: 5px 5px 1px 1px;
    width: 30px;
    height: 30px;
    background: #74ea74;
    border-radius: 5px;
    border: none;
}

#kbObjLetter {
    margin: 5px 5px 1px 1px;
    width: 30px;
    height: 30px;
    background: #ffef2a;
    border-radius: 5px;
    border: none;
}

#wonText {
    margin: 0 0 0 0;
    font-size: xx-large;
    color: green;
}

#wonErrText {
    margin: 0 0 0 0;
    font-size: x-large;
    color: green;
}

#looseText {
    margin: 0 0 0 0;
    font-size: xx-large;
    color: red;
}

#looseErrText {
    margin: 0 0 0 0;
    font-size: x-large;
    color: red;
}

#backButton {
    margin: 15px 0 0 0;
    padding: 5px 5px 5px 5px;
    background: pink;
    border-radius: 5px;
    border: none;
}

#backButton:hover {
    background: green;
    color: white;
}

#footer {
    width: 100%;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}

#goBack {
    margin: 5px 0 0 0;
    padding: 5px 5px 5px 5px;
    background: #ffebeb;
    border-radius: 5px;
    border: none;
}

#goBack:hover {
    background: gray;
}

#shieldMsg {
    margin-top: 0;
    color: green;
}

#objets {
    width: 100%;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}

@media only screen and (max-width: 800px) {
    #keyboard {
        margin: 25px 0px 0px 0px;
        width: 357px;
        height: 150px;
    }
    #kbLetter {
        margin: 5px 1px;
    }
}