body {
    background-image: url(../images/fondLogin.PNG);
    background-repeat: no-repeat;
    background-size: cover;
}

.login-box {
    position: absolute;
    top: 55%;
    left: 50%;
    right: 50%;
    width: 450px;
    height: 450px;
    padding: 40px;
    transform: translate(-50%, -50%);
    background-image: url(../images/carre-removebg-preview.png);
    background-repeat: no-repeat;
}

.login-box h2 {
    font-family: 'Caveat', cursive;
    margin: 0 0 30px;
    padding: 0;
    color: rgb(134, 0, 21);
    font-size: 50px;
    text-align: center;
}

.login-box .user-box {
    position: relative;
}

.login-box .user-box input {
    width: 100%;
    padding: 10px 0;
    font-size: 16px;
    color: rgb(134, 0, 21);
    margin-bottom: 30px;
    border: none;
    border-bottom: 1px solid rgb(134, 0, 21);
    outline: none;
    background: transparent;
}

.login-box .user-box label {
    position: absolute;
    top: 0;
    left: 0;
    padding: 10px 0;
    font-size: 20px;
    color: rgb(134, 0, 21);
    pointer-events: none;
    transition: .5s;
}

.login-box .user-box input:focus~label,
.login-box .user-box input:valid~label {
    top: -20px;
    left: 0;
    color: #00000002;
    font-size: 12px;
}

button {
    width: 50%;
    margin-left: 25%;
    margin-right: 25%;
    font-family: 'Caveat', cursive;
}

.fill {
    font-size: 20px;
    font-weight: 200;
    letter-spacing: 1px;
    padding: 13px 50px 13px;
    outline: 0;
    color: white;
    border: 1px solid white;
    cursor: pointer;
    position: relative;
    background-color: rgba(0, 0, 0, 0);
}

.fill::after {
    content: "";
    background-color: rgb(134, 0, 21);
    width: 100%;
    z-index: -1;
    position: absolute;
    height: 100%;
    top: 7px;
    left: 7px;
    transition: 0.2s;
}

.fill:hover::after {
    top: 0px;
    left: 0px;
}

p {
    color: red;
    font-size: 30px;
    display: flex;
    justify-content: center;
    margin-top: -20px;
    margin-bottom: 5px;
    font-weight: 900;
}